.bookCard {
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
  margin: 50px 0;
  width: 300px;
  min-height: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  position: relative;
}

@media only screen and (min-width: 400px) {
  .bookCard {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .bookCard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
    width: 500px;
    min-height: 400px;
  }
  .bookCard__img {
    position: absolute;
    top: -20px;
    left: 20px;
  }
  .bookCardDetails {
    grid-column-start: 2;
    text-align: unset;
  }
}

.bookCard__img {
  height: 250px;
  max-width: 200px;
  position: absolute;
  top: -20px;
  justify-self: center;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.bookCardDetails {
  font-family: "Roboto", sans-serif;
  grid-row-start: 2;
  padding: 0.5rem;
  text-align: center;
}
.bookCardDetails__heading {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  margin: 1rem 0;
  font-size: 2rem;
}

.bookCardDetails__details {
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: "Lato", sans-serif;
}

.bookCardDetails__button {
  margin: 1rem 0;
}
