.bookCard {
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
  margin: 50px 0;
  width: 300px;
  min-height: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  position: relative;
}

@media only screen and (min-width: 400px) {
  .bookCard {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .bookCard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
    width: 500px;
    min-height: 400px;
  }
  .bookCard__img {
    position: absolute;
    top: -20px;
    left: 20px;
  }
  .bookCardDetails {
    grid-column-start: 2;
    text-align: unset;
  }
}

.bookCard__img {
  height: 250px;
  max-width: 200px;
  position: absolute;
  top: -20px;
  justify-self: center;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14),
    0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.bookCardDetails {
  grid-row-start: 2;
  padding: 0.5rem;
  text-align: center;
}
.bookCardDetails__heading {
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 1rem 0;
  font-size: 2rem;
}

.bookCardDetails__details {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.bookCardDetails__button {
  margin: 1rem 0;
  padding: 1rem;
  font-family: "Merriweather", serif;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  background: crimson;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.bookCardDetails__button:hover {
  background-color: #f54d70;
  box-shadow: 0px 15px 2x rgba(0, 0, 0, 0.4);
  transform: translateY(-7px);
}

.bookCardDetails__button:focus {
  outline: none;
}

.modal-body > * {
  margin: 1rem 0;
}

.modal-body__image {
  width: 300px;
  height: 300px;
}
.modal-body__title {
  font-family: "Lora", serif;
  font-weight: 800;
}

.modal-body__description {
  font-family: "Merriweather", serif;
  font-size: 19px;
}
