<div>
  <header
    class="d-flex justify-content-center align-items-center flex-column mt-3"
  >
    <h1>Books Finder</h1>
    <app-search-input
      (onBookSearched)="onBookSearch($event)"
    ></app-search-input>
  </header>
  <div class="books" *ngIf="books; else error">
    <app-book-card *ngFor="let bookDetail of books" [book]="bookDetail">
    </app-book-card>
  </div>
  <ng-template #error>
    <h1 class="text-center mt-3">
      {{ err }}
    </h1>
  </ng-template>
  <!-- <ng-container *ngIf="isLoading">
    <div class=" d-flex justify-content-center align-items-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container> -->
</div>
