.books {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
}

@media only screen and (min-width: 768px) {
  .books {
    grid-template-columns: repeat(2, 1fr);
  }
  app-book-card:nth-child(odd) {
    justify-self: end;
  }
  app-book-card:nth-child(even) {
    justify-self: start;
  }
}
