.books {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.appHeading {
  font-family: "Lora", serif;
  font-size: 3rem;
}

@media only screen and (min-width: 768px) {
  .books {
    grid-template-columns: repeat(auto-fit, minMax(500px, 1fr));
  }
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}
